logs
project/project
project/target
target
tmp
.history
dist
dependency-reduced-pom.xml
*/dependency-reduced-pom.xml
*.iml
/.idea
*/*.iml
/out
/.idea_modules
.classpath
.project
.settings
/RUNNING_PID
